/* *{
    align-items: center;
    
} */

/* body {
    flex-wrap: wrap;
} */


#inc {
    padding: 10px;
    background-color: green;
    
}

#dec {
    
    padding: 10px;
    background-color: red;

}



p {
    font-size: large;
    margin-top: 30px;
    text-align: center;
}


div {
    
    
    margin-left: 840px;
}